.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100%;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  align-items: center;

}

.call-to-action button {
  min-width: 250px;
  height: 10%;
  text-decoration: none;
  border: 1px solid #111111;
  margin: 10px 0;
  padding: 10px;
  border-radius: 20px;
}

.call-to-action a, button {
  text-decoration: none;
  color: black;
  border-radius: 20px;
}

button:hover, .register:hover, .create:hover {
    border: 1px solid #2afc74 !important;
    background-color: #2afc74;
    color: white;
}

.register {
  color: #111111;
  background-color: #1db954;
  text-decoration: none;
  margin: 10px 0;
  padding: 10px;
  height: 10%;
  min-width: 250px;
  text-align: center;
  border: 1px solid #111111;
  border-radius: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.auth-nav{
  display: flex !important;
  flex-direction: row-wrap !important;
  justify-content: center;
}

.auth-nav>li {
  padding: 0 10px;
}

ul li, .auth-nav, div ul {
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

#forms, .user-profile{
  width: 60%;
  min-width: 300px;
  line-height: 2rem;
  color: #111111;
  background-color:#FFFFFF;
  border: 2px solid #F5F5F5;
  margin: 20px 0;
  padding: 20px 5px;
}

.form-element {
  margin-bottom: 1em;
}

input {
  border: 1px solid #F5F5F5;
  border-radius: 2px;
  -webkit-appearance: none;
  padding: 1em .75em .6875em;
  width: 100%;
}

.add-box, .card{
  width: 50%vw;
  min-width: 250px;
  border: 2px solid #333333;
  border-radius: 5rem;
  background-color: #F5F5F5;
  padding: 1rem 5rem;
  margin: 5% 0;
}

.card-header {

}
.card h3 {
  
}
.card-footer-buttons {
  display:flex;
  flex-direction: row-wrap;
}
input.create {
  color: #111111;
  background-color: #1db954;
  text-decoration: none;
  margin: 5px 10px;
  padding: 10px;
  height: 10%;
  min-width: 200px;
  text-align: center;
  border: 1px solid #111111;
  border-radius: 20px;
}
button.register, button.cancel {
  margin: 5px 10px;
  padding: 5px;
}
.cancel {
  color: #111111;
  background-color: rgb(219, 3, 3);
  text-decoration: none;
  margin: 5px 10px;
  padding: 10px;
  height: 10%;
  max-width: 20%;
  text-align: center;
  border: 1px solid #111111;
  border-radius: 15px;
}
.cancel:hover {
  color: white;
  background-color: red;
  border: 1px solid red !important;
}
.form-control {
  min-width: 300px;
}
.hidden {
  display: none;
}