body {
  background-color: #f1f2ee;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
}
.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: #000100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 10px;
  color: white;
}
.App-title {
  display:flex;
  flex-direction: row-wrap;
  font-size: 1.5rem;
  font-weight: 100%;
}
.App-title img {
  margin-right: 1rem;
}
.App-intro {
  font-size: large;
}
.auth-nav a {
  font-size: 2rem;
  padding-right: 15px;
  color: white;
}
.auth-nav a:active {
  color: #2afc74;
}
.auth-nav a:hover {
  text-decoration: none;
  padding-right: 15px;
  color: #2afc74;
}
.splash-text {
  color: white;
}
.splash {
  background-image: url('images/track.gif');
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
.call-to-action {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  font-stretch: expanded;
  align-items: center;
  align-content: center;
  margin-top: 10%;
}
.call-to-action > button {
  min-width: 250px;
  min-height: 10%;
  text-decoration: none;
  color: #ffffff;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  background: none;
  margin: 10px 0;
  padding: 10px;
  border-radius: 20px;
}
.call-to-action > button:hover {
  background: #ffffff;
  color: #000000 !important;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  margin: 10px 0;
  padding: 10px;
  border-radius: 20px;
}
.call-to-action a {
  text-decoration: none;
  background-color: #1db954;
  border-radius: 20px;
  color: #ffffff;
  margin: 5px 5px;
  padding: 10px;
  min-height: 10%;
  min-width: 250px;
  text-align: center;
  border: 1px solid #1db954;
}
button:hover,
.register:hover,
.create:hover {
  border: 1px solid #2afc74;
  background-color: #2afc74;
  color: white !important;
}

.register {
  color: #ffffff;
  background-color: #1db954;
  text-decoration: none;
  margin: 10px 0;
  padding: 10px;
  min-height: 10%;
  min-width: 250px;
  text-align: center;
  border: 1px solid #1db954;
  border-radius: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.auth-nav {
  display: flex !important;
  flex-direction: row-wrap !important;
  justify-content: center;
}

.auth-nav > li {
  padding: 0 10px;
}

ul li,
.auth-nav,
div ul {
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

#forms,
.user-profile {
  width: 60%;
  min-width: 300px;
  line-height: 2rem;
  color: #111111;
  background-color: #ffffff;
  border: 2px solid #f5f5f5;
  margin: 20px 0;
  padding: 20px 5px;
}

.form-element {
  margin-bottom: 1em;
}

input {
  border: 1px solid #f5f5f5;
  border-radius: 2px;
  -webkit-appearance: none;
  padding: 1em 0.75em 0.6875em;
  width: 100%;
}

.add-box,
.card {
  width: 50%vw;
  min-width: 325px;
  border: 1px solid #333333;
  border-radius: 5rem;
  background-color: #f5f5f5;
  padding: 1rem 5rem;
  margin: 2% 0;
}
.card-header {
}
.card-title {
  margin: 10px 0 0 5px;
  font-size: 150%;
}
.card-footer-buttons {
  display: flex;
  flex-direction: row-wrap;
  min-width: 300px;
}
input.create {
  color: #111111;
  background-color: #1db954;
  text-decoration: none;
  margin: 5px 5px;
  padding: 10px;
  height: 10%;
  min-width: 200px;
  text-align: center;
  border: 1px solid #111111;
  border-radius: 20px;
}
.complete {
  color: #111111;
  background-color: #1db954;
  text-decoration: none;
  margin: 5px 5px;
  padding: 10px;
  height: 10%;
  min-width: 180px;
  text-align: center;
  border: 1px solid #111111;
  border-radius: 20px;
}
.incomplete {
  color: #111111;
  background-color: #7393ff;
  text-decoration: none;
  margin: 5px 5px;
  padding: 10px;
  height: 10%;
  min-width: 180px;
  text-align: center;
  border: 1px solid #111111;
  border-radius: 20px;
}
card-footer-buttons button.cancel {
  color: #111111;
  background-color: red;
  text-decoration: none;
  margin: 5px 0px;
  padding: 0px;
  height: 10%;
  min-width: 180px;
  text-align: center;
  border: 1px solid #111111;
  border-radius: 20px;
}
button.register,
button.cancel {
  margin: 5px 5px;
  padding: 5px;
}
.cancel {
  color: #111111;
  background-color: rgb(219, 3, 3);
  text-decoration: none;
  margin: 5px 5px;
  padding: 10px;
  height: 10%;
  max-width: 20%;
  text-align: center;
  border: 1px solid #111111;
  border-radius: 15px;
}
.cancel:hover {
  color: white;
  background-color: red;
  border: 1px solid red !important;
}
.form-control {
  min-width: 300px;
}
.hidden {
  display: none;
}
